.pizza__imagem {
	width: 100%;
	height: 200px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll;
}

.pizza__imagem--1 {
	background-image: url("../../assets/images/pizza1.jpg");
}

.pizza__imagem--2 {
	background-image: url("../../assets/images/pizza2.jpg");
}

.pizza__imagem--3 {
	background-image: url("../../assets/images/pizza3.jpg");
}