.login-form {
	background: url("../assets/images/background.jpg") no-repeat center;
	height: 400px;
	border: 1px solid #ff8040;
	padding: 2rem 1rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: transparent;
	box-sizing: border-box;
}

.login-input{
	padding: 10px;
	margin-bottom: 2rem;
	border: none;
	border-bottom: 1px solid #ff8040;
	background-color: transparent;
	color: #ffffff;
	box-sizing: border-box;
	transition: 0.3s;
}

.login-input:focus{
	padding: 15px;
	/*border-bottom-color: #e82015;|*/
}

.login-button{
	border: none;
	color: #ffffff;
	background-color: #ff8000;
	padding: 0.5rem;
	border-radius: 50px;
	cursor: pointer;
	transition: 0.5s;
	margin-top: 4rem;
	box-sizing: border-box;
}

.login-button:hover{
	background-color: #e82015;
	box-sizing: border-box;
}

.login-forgotpwd{
	text-decoration: none;
	color: #ff8040;
}

.login-forgotpwd:hover{
	text-decoration: underline;
	color: #e82015;
}

.login-label{
	font-size: 1.31rem;
	color: #ffffff;
	box-sizing: border-box;
}

@media screen and (min-width: 768px){
	.login-form{
		width: 200px;
	}
}

@media screen and (min-width: 1024px){
	.login-form{
		width: 400px;
	}
}